html, body {
  margin: 0;
  height: 100%;
}

.App-dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
}

.App-navbar {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}